<footer>
    <div class="container">
        <div class="logo-container">
            <img src="{{'assets/imgs/footer-logo.png' | theme}}" alt="" />
        </div>
        <div class="link-container">
            <ul>
                <li><a href="#">{{About}}</a></li>
                <li><a href="#">Production</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="contact-info">
            <ul>
                <li>
                    <img src="{{'assets/icons/Letter-white.svg' | theme}}" />
                    <a href="">sales@balkhoorma.com</a>
                </li>
                <li>
                    <img
                        src="{{'assets/icons/Phone Rounded-white.svg' | theme}}"
                    />
                    <a href="">+994 12 539 53 92 / +994 55 455 07 57</a>
                </li>
                <li>
                    <img src="{{'assets/icons/Map Point-white.svg' | theme}}" />
                    Baş ofis - Bakı,
                    <br />
                    Azərbaycan İstehsal Müəssisəsi - Balakən, Azərbaycan
                </li>
            </ul>
        </div>
        <div class="scroll-to-top">
            <button><i class="fa-solid fa-arrow-up"></i></button>
        </div>
    </div>

    <div class="container">
        <p class="copyright">
            &copy; All rights reserved. Developed by Webcoder.
        </p>

        <div class="link-container">
            <ul>
                <li><a href="{{ 'terms_of_use' | page }}">{{'menu.terms_of_use'|_}}</a></li>
                <li><a href="{{ 'privacy-policy' | page }}">{{'menu.privacy_policy'|_}}</a></li>
            </ul>
        </div>
    </div>
</footer>
