<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
 <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.14.2/simple-lightbox.css"
      integrity="sha512-Oi2rb7RCg9JJzHCNFHsZgzlreLA/C4mNWCDMGHwhzVtPrQJey0zKnc9t8gwO5uzPJQNc9rC3zJksZb4/rKY+9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.css" 
      integrity="sha512-pmAAV1X4Nh5jA9m+jcvwJXFQvCBi3T17aZ1KWkqXr7g/O2YMvO8rfaa5ETWDuBvRq6fbDjlw4jHL44jNTScaKg==" 
      crossorigin="anonymous" referrerpolicy="no-referrer" 
/>

<link rel="stylesheet" href="{{'assets/css/style.css' | theme}}" />
<link rel="stylesheet" href="{{'assets/css/general.css' | theme}}" />
<link rel="stylesheet" href="{{this.page.styles | theme}}" />

<script src="{{'assets/js/general.js' | theme}}" defer></script>